<div class="row">
  <div class="col-sm-6">

    <div class="panel panel-default">
      <div class="panel-heading">Cadastrar Clientes</div>

      <div class="panel-body">
        <form novalidate="" role="form" class="ng-untouched ng-pristine ng-valid">

          <div class="form-group">
            <label>Nome</label>
            <input class="form-control" placeholder="digite o nome" type="text">
          </div>

          <div class="form-group">
            <label>E-mail</label>
            <input class="form-control" placeholder="digite o e-mail" type="email">
          </div>

          <div class="form-group">
            <label>Telefone</label>
            <input class="form-control" placeholder="digite o telefone" type="tel">
          </div>

          <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-save"></i> cadastrar cliente</button>
        </form>
      </div>

    </div>
  </div>

  <div class="col-sm-6">

    <div class="panel panel-default">
      <div class="panel-heading">Visula</div>
      <div class="panel-body">
      </div>
    </div>

  </div>
</div>
